name: CI/CD for ML Model

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model
        run: |
          python train_model.py  # Comando para treinar o modelo

      - name: Deploy model
        run: |
          # Adicione aqui o comando para implantar seu modelo
          # Por exemplo, você pode usar scp para copiar o modelo para outra instância ou servidor
          scp -i <caminho-para-sua-chave> model.joblib ec2-user@<ip-da-sua-instancia>:/home/ec2-user/ml-prediction-api/